.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_col{
    flex-direction: column;
}

.margin-b{
    margin-bottom: 0.5rem;
}

.root{
    width: 100%;
    min-height: 100vh;
    .form{
        width: 100%;
        min-height: 100vh;
        background-color: black;
        flex-direction: column;
        .items{
            position: relative;
            height: 100%;
            padding: 3.5rem;
            border-radius: 5px;
            background-color: white;
            width: 50%;
            .notesman {
                    position: absolute;
                    top: 0;
                    right: 3.5rem;
                    width: 25%;
                }
            .first{
                font-size: 32px;
                font-weight: 500;
            }
            .second{
                font-size: 14px;
                letter-spacing: 0.5px;
                color: #5f5f5fef;
            }
            .signup{
                margin-top: 1rem;
                .desc{
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    color: #5f5f5fef;
                    a{
                        margin-left: 0.5rem;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .logo{
        width: 30%;
        height: 100%;
    }
}
