
.bg{
    color: #efefef;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.3s;
    padding: 0.5rem;
    cursor: pointer;
}

// plae blue #f4faff

.active{
    color:black;
    background-color: #efefef;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.bg:hover{
    color:black;
    background-color: #efefef;
    border-radius: 5px;
}